

.form-style{
    width:450px;
    padding:30px;
    margin:40px auto;
    background: #FFF;
    border-radius: 10px;
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
   
}
.form-style .section-content{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-style h1{
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
  
    
}
.form-style h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
.form-style input[type="text"],
.form-style input[type="tel"],
.form-style input[type="email"],
.form-style input[type="number"],

.form-style input[type="password"]

{

    width: 100%;
    padding: 8px;
    border-radius: 6px; 
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
 
}

.form-style .section{
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}

.form-style input[type="reset"], 
.form-style input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;

    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.form-style input[type="reset"]:hover, 
.form-style input[type="submit"]:hover{
    background: #2A6881;
   
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
	
.tooltip {
	margin-top: 20px;
	
	padding: 2px 4px;
	border: 1px solid #555;
	background-color: rgb(223, 145, 126);
    border-radius: 4px;
    width: 100%;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}


.valid {
    color: green;
}



.invalid {
    color: red;
}

